<!-- from https://vmware.github.io/clarity/documentation/cards -->

<div class="row">
    <!-- structural directives always start with asterisk: *ngFor -->
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" *ngFor="let url of urls">
        <a href="..." class="card clickable">
            <div class="card-img">
                <img src="{{url}}">
            </div>
            <div class="card-block">
                <p class="card-text">
                    ...
                </p>
            </div>
        </a>
    </div>
    
</div>